html,
div#root {
	background-color: #643200;
	font-family: "Sedan", serif;
	font-style: normal;
	font-weight: 400;
}

.background-default {
	background-color: #643200;
}

.headline {
	background-color: #5a0f19;
	color: white;
}

.background-form {
	background-color: #e5cc9f;
}

button {
	white-space: nowrap;
	display: inline-block;
	min-width: fit-content;
}

.button-style {
	background-color: #700000;
	color: white;
	border: black;
}

.button-style:hover {
	background-color: #580000 !important;
}

.button-style2 {
	background-color: #bc0000;
	color: white;
	border: black;
}
.button-style2:hover {
	background-color: #580000 !important;
}

.card {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card-title {
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

.card-body,
.card-footer {
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

table {
	width: 50%;
	border-collapse: collapse;
	border: 2px solid #333;
	border-radius: 15px;
	overflow: hidden;
}

th,
td {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	font-family: "Sedan", serif;
	font-style: normal;
}

thead {
}
