.background-default {
	background-color: #643200;
}

.headline {
	background-color: #5a0f19;
	color: white;
}

.background-form {
	background-color: #e5cc9f;
}

.button-style {
	background-color: #700000;
	color: white;
	border: black;
}

.button-style:hover {
	background-color: #580000 !important;
}
