.fundopadrao {
	background-color: #643200;
}

.titulo {
	background-color: #5a0f19;
	color: white;
}

.fundoformulario {
	background-color: #e5cc9f;
}

.botao {
	background-color: #700000;
	color: white;
}
